.container > * {
    border: 1px solid #000;
}

p {
    font-size: 20px;
}

img {
   
    
}
/*****************************************
*** Navigation Section ***
*****************************************/

nav {
    background-color: rgb(197, 197, 197);
    display: flex;
}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav-item {
    color: white;
    font-size: 20px;
}

.logo {
    height: 60px;
    align-self: end;
}

input {
    height: 35px;
    flex: 0.35;
    margin: 20px 0;
    border-radius: 10px;  
}


/*****************************************
*** Article Section ***
*****************************************/

.article-section {     
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 80px;
}

.articles > * {
    border: 1px solid #000;
    
}

.articles {
    display: grid;
    padding-top: 120px;

}

.main-article {
    display: grid;
    gap: 30px;
    margin-bottom: 40px;
    padding-right: 30px;
}

.ma-head-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 30px;
    font-size: 50px;
    line-height: 120%;
}

.ma-img {
    width: 200px;
    border: 7px solid #000;
    border-radius: 21px;
    transform: rotate(-10deg);
}

.sa-img {
    width: 118px;
    border: 7px solid #000;
    border-radius: 10px;
    transform: rotate(-10deg);
}

.sub-article {
   
}
/*****************************************
*** Aside/Newsletter Section ***
*****************************************/

.news-letter {
    padding-top: 30px;
}

.nl-head {
    width: 260px;
}

.more-articles {

}